/*========== XL-DESKTOP : BETWEEN 1200px TO 1500PX. ==========*/
@media (min-width: 1200px) and (max-width: 1500px) {
    /* GLOBAL */
    .container {
       max-width: 1120px;
    }
    h1 {
       font-size: 52px;
    }
    h2 {
       font-size: 43px;
    }
    h3 {
       font-size: 36px;
    }
    h4 {
       font-size: 25px;
    }
    h5 {
       font-size: 20px;
    }
    h6 {
       font-size: 16px;
    }
    body {
       font-size: 15px;
    }

    /* ALL */
   .auction-link {
      margin-top: 40px;
   }
    .acution-option h4 {
      font-size: 20px;
   }
   .auction-timer .hero-counter h3 {
      font-size: 28px;
   }
   .video-wrapper {
      height: 550px;
   }
}

/*========== LG + MD : BETWEEN 768PX TO 1199PX. ==========*/
@media (min-width: 768px) and (max-width: 1199px) {
    /* GLOBAL */
    h1 {
       font-size: 40px;
    }
    h2 {
       font-size: 38px;
    }
    h3 {
       font-size: 28px;
    }
    h4 {
       font-size: 20px;
    }
    h5 {
       font-size: 20px;
    }
    h6 {
       font-size: 14px;
    }
    body {
       font-size: 14px;
    }
    input, textarea {
      font-size: 14px;
   }
   .pr-md-lg-0 {
      padding-right: 0;
   }
   /* GLOBAL// */
   .hero-area {
      height: 500px;
   }
   .logo img {
      max-width: 150px;
   }
   .stuff-item {
      height: 350px;
   }

}

/*========== LG-DESKTOP : BETWEEN 992PX TO 1199px. ==========*/
@media (min-width: 992px) and (max-width: 1199px) {
   /* GLOBAL */
   .container {
       max-width: 920px;
   }
   .mainmenu ul li a{
      padding: 0.5em;
   }

}

/*========== MD-TABLET : BETWEEN 768PX TO 991PX ==========*/
 @media (min-width: 768px) and (max-width: 991px) {
   /* GLOBAL */
   .container {
      max-width: 750px;
   }
   /* GLOBAL// */
}
 
/*========== SMALL MOBILE : SMALLER THEN 767PX ==========*/
@media (max-width: 767px) {
   /* GLOBAL */
   h1 {
      font-size: 32px;
   }
   h2 {
      font-size: 32px;
   }
   h3 {
      font-size: 26px;
   }
   h4 {
      font-size: 18px;
   }
   h5 {
      font-size: 16px;
   }
   h6 {
      font-size: 14px;
   }
   body {
      font-size: 14px;
   }
   .scroll-up {
      font-size: 12px;
   }
   input, textarea {
      font-size: 12px;
   }
   .footer-menu ul li a {
      padding: 0 0.5em;
   }
   .logo img {
      max-width: 150px;
   }
   /* GLOBAL// */

   /* HERO */
   .hero-area {
      height: 400px;
   }

   /* STUFF */
   .stuff-item {
      border-radius: 30px 0 30px 0;
      height: 200px;
   }
   .price-box.active {
      transform: inherit;
      border-color: transparent;
   }
   .stuff-item .stuff-content {
      left: 5px;
      bottom: 10px;
   }
   .stuff-item .stuff-content h4 {
      font-size: 14px;
      margin-bottom: 5px !important;
   }
   .stuff-item .stuff-content p {
      font-size: 12px;
      line-height: 1;
   }
   .price-box h3 {
      font-size: 28px;
   }
   .price-box h2 {
      font-size: 34px;
   }
   .posting-form {
      padding: 2em 1.5em;
   }
   textarea {
      height: 60px;
   }
   .contact-form {
      padding: 1.5em;
      border: 2px solid #E8E8E8;
      border-top: 0;
   }

}

/*========== LARGE MOBILE : BETWEEN 480PX TO 767PX ==========*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
       max-width: 350px;
    }
}
 